.detdad{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 37, 183);;
    padding: 4%;
}
.detalles{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(87, 93, 166);
    padding: 15px;
    
}
