.ilCont{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 130px 5px;
    background-color: rgb(42, 37, 183);
    
}

div.products{
    border: solid rgb(66, 57, 57) 3px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: rgb(10, 10, 11);
    background-color:  rgb(87, 93, 166);
    box-shadow: 5px 5px rgb(7, 4, 118);
    border-radius: 10px;
    
}
div.products:hover{
    transition: .2s;
    transform: scale(1.2);
    text-decoration: none;
}
img{
    width: 100%;
    border-radius: 10px;
}


