.ilCont{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 130px 5px;
    
    background: linear-gradient(#371bd1, #110f1c);
    
    /* background-color: rgb(42, 37, 183); */
    
}

div.products{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(10, 10, 11);
    background-color:  rgb(87, 93, 166);
    box-shadow: 5px 5px rgb(7, 4, 118);
    border-radius: 10px;
}
div.products:hover{
    transition: .2s;
    transform: scale(1.2);
    text-decoration: none;
}
img{
    width: 100%;
    border-radius: 7px ;
}
h2.nombre{
    text-align: center;
}


