.cart{
    /* height: auto; */
    padding: 140px 0;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    background: linear-gradient(#371bd1, #110f1c);
}
.cartDet{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h2{
    color: black;
}

div.producto{
    width: 60%;
    display: flex;
    border-bottom: solid red;
    padding: 10px;
    
}
div.productoImg{
    width: 50%;
    align-self: center;
}
.total{
    padding-top: 50px;
}
.imgCart{
    width: 90%;
    
}